<ion-header>
    <ion-title>
     
    </ion-title> 
</ion-header>

<ion-content>
  
    <ion-card class="welcome-card">
      <ion-img src="/assets/wavesclip.svg"></ion-img>
      <ion-card-header>
        <ion-card-title>HydroNaut</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <p>Staying on track with healthy levels of water made easy!</p> 
      </ion-card-content>
    </ion-card>

  
    <ion-list lines="none" class ="item">

      <ion-list-header>
        <ion-label>Resources</ion-label>
      </ion-list-header>
      
      <ion-item>
        <ion-label id ="label8" (click)="setPrompt(8)">Add 8 fl oz (~250ml)</ion-label>
        <ion-icon id ="icon8 " name="water" (click)="setPrompt(8)"></ion-icon>
      </ion-item>
      <ion-item>
        
        <ion-label id="label16" (click)="setPrompt(16.9)" >Add 16.9 Fl oz (500ml)</ion-label>
        <ion-icon id ="icon16" name="water" (click)="setPrompt(16.9)"></ion-icon><ion-icon name="water"(click)="setPrompt(16.9)"></ion-icon>
      </ion-item>
      <ion-item>
        
        <ion-label id ="label34" (click)="setPrompt(34)" >Add 34 fl oz (1L)</ion-label>
        <ion-icon id ="icon34"name="water" (click)="setPrompt(34)"></ion-icon><ion-icon name="water"></ion-icon><ion-icon name="water"></ion-icon>
      </ion-item>

      <ion-item >  
        <ion-label>Enter a custom amount</ion-label>
        <ion-icon name="infinite" ></ion-icon>
        <ion-icon name="water" (click)="CustomPrompt()"></ion-icon>
      </ion-item>
   
    </ion-list>
     

</ion-content>
